@import url("kursovayaRKZIR.html");  /* связь с html*/
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Comfortaa:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500&display=swap');




.for_head{                        /* Cтатичная шапка */
    border:7px solid #cb0716;
    top:0;
    left:0;
    width:1510px;
    height:100px;
    position:fixed;
    background-color: black;
    font-size:32px;
    z-index:1;
    display:flex;
    flex-direction:row;
    text-decoration:none;
}
.for_head img {      /* Стили только для изображения внутри .for_head */
    max-width: 30%;
    height: auto;
    position:static; /*убрать потом*/
}
.for_head p {
    color:whitesmoke;
    font-family: 'Caveat', cursive;
    font-size:60px;
    padding-left:120px;
    margin-top: 10px;
}


.for_head_text{         /*регулирование текстом на странице*/
    position:static; /*убрать потом*/
    padding-top:100px;
}

.for_aside{    /*боковая часть сайта*/
    max-width:100%; /* масштабирование картинки под рамки aside*/
    right: 0;
    top:0;/*расположение*/
    width:450px;
    padding-top:30px;      /* отступ внутри рамки padding-top:5px*/
    padding-left:45px;
    height:1500px;  /* auto*/
    border: 10px solid red;
    background-color: black; /* Градиентный фон */
    position:relative;  /*sticky relative fixed*/
    bottom:535px;  /* двигать вверх вниз независимо*/
    display:flex;/* 111111*/
    flex-direction:column;
}

a{                          /* Стили для кнопки в обычном состоянии +используется для всех а,так что если что менять надо*/
    color:inherit;
    text-decoration: none;
}
a:hover{                    /* наведение */
    color:red;
    text-decoration: none;
}
a:active {
    color: yellowgreen;
}

.text_ol_or_ul{
    font-size:25px;
    font-family: 'Comfortaa', cursive;
}

.text_ol_or_ul adress{
    font-size:15px;
}

.textstyle_main{
    font-family: 'Tektur', cursive;
}
.main-article {
    display: flex;
    flex-direction: row-reverse;
}
.for_footer{
    bottom:0;
    margin-top:400px;
    width:1495px;
    height:90px;
    border:5px solid red;
    bottom:0;
    display:flex;
    background-color: black;
}
.for_footer a{
    padding-left:150px;
    padding-top:45px;
    color:whitesmoke;
}
.for_footer img{
    max-width:30%;
    padding-top:5px;
    padding-left:20px;
}

@media (max-width:800px){


    .for_head{                        /* Cтатичная шапка */
        border:7px solid #cb0716;
        top:0;
        left:0;
        width:700px; /change/
        height:100px;
        position:fixed;
        background-color: black;
        font-size:32px;
        z-index:1;
        display:flex;
        flex-direction:row;
        text-decoration:none;
    }
    .for_head p {
        color:whitesmoke;
        font-family: 'Caveat', cursive;
        font-size:24px;
        padding-left:50px;
        margin-top: 10px;
    }
    .for_head_text{         /*регулирование текстом на странице*/
        position:static; /*убрать потом*/
        padding-top:100px;
        display:block
    }
    .main-article {
        display: block;
        flex-direction: row-reverse;
    }
    .for_aside{
        display:none;
        right:0;
        max-width:100%;
    }
    .for_footer{
        bottom:0;
        margin-top:400px;
        width:775px;
        height:90px;
        border:5px solid red;
        bottom:0;
        display:flex;
        background-color: black;
    }
    .for_footer a{
        display:block;
        padding-left:90px;
        padding-top:45px;
        color:whitesmoke;
    }
    .for_footer img{
        max-width:30%;
        padding-top:5px;
        padding-left:20px;
    }
}
